@use "./global/variables.scss";

.header {
  background-color: variables.$gray--dark;
  background-image: image-set(url("../img/header/back-mobile@2x.webp") 2x,
      url("../img/header/back-mobile.webp") 1x,
      url("../img/header/back-mobile@2x.jpg") 2x,
      url("../img/header/back-mobile.jpg") 1x);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  @media (min-width: variables.$tablet-width) {
    background-image: image-set(url("../img/header/back-tablet@2x.webp") 2x,
        url("../img/header/back-tablet.webp") 1x,
        url("../img/header/back-tablet@2x.jpg") 2x,
        url("../img/header/back-tablet.jpg") 1x);
  }

  @media (min-width: variables.$desktop-width) {
    background-image: image-set(url("../img/header/back-desktop@2x.webp") 2x,
        url("../img/header/back-desktop.webp") 1x,
        url("../img/header/back-desktop@2x.jpg") 2x,
        url("../img/header/back-desktop.jpg") 1x);
  }

  &--index {
    @media (max-width: variables.$mobile-width-only) {
      background-color: transparent;
      background-image: none;
    }
  }
}

.header__bottom {
  margin-top: variables.$header-height-mobile*(-1);

  @media (min-width: variables.$tablet-width) {
    margin-top: variables.$header-height-tablet*(-1);
  }

  @media (min-width: variables.$desktop-width) {
    margin-top: variables.$header-height-desktop*(-1);
  }
}
