@use "./global/variables";

.reviews {
  @media (min-width: variables.$desktop-width) {
    display: flex;
    justify-content: center;
    padding: 165px 116px 2px;
    background-image: url("../img/sprite.svg#quotes");
    background-repeat: no-repeat;
    background-size: 79px 63px;
    background-position: 50% 72px;
  }
}

.reviews__wrapper {
  overflow: hidden;
}

.reviews__list {
  display: flex;

  --slides: 3;
  width: calc(100% * var(--slides));

  margin: 0;
  padding: 0;
  list-style-type: none;

  --transform: translateX(0%);
  transform: var(--transform);
  transition: transform 0.3s;
}

.reviews__item {
  width: 100%;
}

.reviews .reviews__togglers {
  @media (min-width: variables.$desktop-width) {
    display: none;
  }
}

.reviews__button {
  display: none;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  margin-top: 44px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    content: "";
    display: block;
    width: 22px;
    height: 41px;
    margin: auto;
    mask-image: url("../img/sprite.svg#slider-arrow");
    background-color: rgba(variables.$gray, 0.3);
  }

  &--prev {
    order: -1;
  }

  &--next {
    order: 1;
    transform: rotate(180deg);
  }

  &:hover {
    &::before {
      background-color: rgba(variables.$gray, 0.6);
    }
  }

  &:focus:hover:not(:active) {
    &::before {
      background-color: rgba(variables.$gray, 0.3);
    }
  }

  &:focus-visible {
    outline: 2px solid variables.$pink;
    outline-offset: 4px;
  }

  &:active {
    &::before {
      background-color: rgba(variables.$gray, 0.1);
    }
  }

  &:disabled {
    pointer-events: none;

    &::before {
      background-color: rgba(variables.$gray, 0.1);
    }
  }

  @media (min-width: variables.$desktop-width) {
    display: block;
  }
}
