/* colors */
$white--lighten: #ffffff;
$white--light: #f2f2f2;
$white: #efefef;
$white--dark: #e5e5e5;
$gray: #283645;
$gray--dark: #1d2631;
$black: #000000;
$red: #d22828;
$pink: #d22856;
$green--light: #2aab6d;
$green: #1c9b5e;

/* viewport */
$mobile-width-only: 659.9px;
$tablet-width: 660px;
$tablet-width-only: 1199.9px;
$desktop-width: 1200px;

/* others */
$max-width-tablet: 1000px;
$max-width-desktop: 1400px;

$header-height-mobile: 66px;
$header-height-tablet: 110px;
$header-height-desktop: 110px;
