/* colors */
$white--lighten: #ffffff;
$white--light: #f2f2f2;
$white: #efefef;
$white--dark: #e5e5e5;
$white--darken: #dedede;
$gray: #252527;
$black: #000000;

$yellow: #f9bc15;
$orange--light: #f25b26;
$orange: #f05423;
$pink: #d22856;
$blue: #2dabe2;
$blue--dark: #1d2631;
$blue--darken: #283645;
$green--light: #a4c639;
$green: #84c441;
$green--dark: #3dc644;

/* viewport */
$mobile-width-only: 659.9px;
$tablet-width: 660px;
$tablet-width-only: 1199.9px;
$desktop-width: 1200px;

/* others */
$max-width-tablet: 1000px;
$max-width-desktop: 1400px;

$header-height-mobile: 66px;
$header-height-tablet: 110px;
$header-height-desktop: 110px;
